In [1]:
import numpy as np
import pandas as pd
import pickle as pkl
import matplotlib.pyplot as plt
import os
import sys
import sqlite3

#get the latest matches data

cur_dir = os.getcwd()


def load_data(data_name):
    df = pd.read_csv(data_name)
    print(f"loaded {data_name} succesfully")
    return df


data_path = '../../data/raw/papardello/'

matches = load_data('matches_fr_labeled360554.csv')
teams = pd.read_json(data_path+'teams.json')
players = pd.read_json(data_path+'players.json')
print('all dataframes loaded succesfully ')

teams_in_matches = set(matches['ht at'.split()].values.flatten())

data_path = '../../data/raw/sqlite_big/'

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("database.sqlite")
df = pd.read_sql_query("SELECT * from surveys", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

loaded matches_fr_labeled360554.csv succesfully
all dataframes loaded succesfully

In [2]:
teams

,city,name,wyId,officialName,area,type
0,Newcastle upon Tyne,Newcastle United,1613,Newcastle United FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
1,Vigo,Celta de Vigo,692,Real Club Celta de Vigo,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
2,Barcelona,Espanyol,691,Reial Club Deportiu Espanyol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
3,Vitoria-Gasteiz,Deportivo Alav\u00e9s,696,Deportivo Alav\u00e9s,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
4,Valencia,Levante,695,Levante UD,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
...,...,...,...,...,...,...
137,Las Rozas,Spain,1598,Spain,"{'name': 'Spain', 'id': 724, 'alpha3code': 'ES...",national
138,Beograd,Serbia,17322,Serbia,"{'name': 'Serbia', 'id': 688, 'alpha3code': 'S...",national
139,Bern,Switzerland,6697,Switzerland,"{'name': 'Switzerland', 'id': 756, 'alpha3code...",national
140,Warszawa,Poland,13869,Poland,"{'name': 'Poland', 'id': 616, 'alpha3code': 'P...",national
141,Abuja,Nigeria,16823,Nigeria,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...",national